body {
background-color: #ebecf0;
color: #041C32;
margin-bottom: 80px;
}

a {
    color: #C84B31;
}

a:hover {
  color: #041C32;
  text-decoration: none;
}

.jumbotron {
    color: #041C32;
    background-color: #97a3b0;
    padding-bottom: 30px;
}

.heading {
    align-items: center;
    background-color: #ECB365;
}

img {
    float: left;
    margin-right: 30px;
}

.description span{
    padding-right: 20px;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  padding: 0px 0 0 28px;
}

.upload-form {
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.add-image-title {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    align-items: center;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 30px;
}

h3 {
    text-align: center;
}

.center {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}